[submodule "vim/vim/bundle/Vundle.vim"]
	path = vim/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "pandoc"]
	path = pandoc
	url = git@github.com:dzackgarza/pandoc-config.git
	branch = main
