[Desktop Entry]
Version=1.0
Type=Application
Name=Vim
GenericName=Text Editor
Comment=Edit text files
Icon=vim
TryExec=nvim
Exec=/home/zack/dotfiles/bin/open_with_nvim.sh %F
NoDisplay=false
Categories=TextEditor;Utility;
MimeType=text/plain;
StartupNotify=false
Terminal=false
