[Desktop Entry]
Version=1.0
Name=Todoist
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
GenericName=Web Browser
Exec=/home/zack/dotfiles/bin/todoist
