[Unit]
Description=Network Speed Test on %I
After=network.target

[Service]
Type=oneshot
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/dzack/.Xauthority
ExecStart=/home/dzack/gitclones/pdfsearch2/agents/sway_stuff/network_event_handler.sh network-change
User=dzack
Group=dzack
