"*":
  Hydrogen: {}
  alignment: {}
  "autocomplete-bibtex":
    bibtex: [
      "/home/zack/Notes/library.bib"
    ]
  "block-cursor":
    global:
      blinkOff:
        borderStyle: "i-beam"
      blinkOn:
        borderStyle: "i-beam"
      cursorLineFix: true
  "color-tabs":
    borderStyle: "left"
    markerStyle: "round"
  core:
    audioBeep: false
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "markdown-preview"
      "language-gfm"
      "markdown-preview-plus"
      "language-markdown"
      "block-cursor"
      "glowing-cursor"
      "language-dotfiles"
      "language-pug"
      "atom-save-all"
      "autosave-onchange"
      "autosave"
      "Hydrogen"
      "aligner-css"
      "aligner-javascript"
      "alignment"
      "aligner"
      "atom-beautify"
      "atom-ternjs"
      "autoclose-html"
      "autocomplete-bibtex"
      "autocomplete-latex"
      "autocomplete-modules"
      "color-picker"
      "git-time-machine"
      "goto-definition"
      "js-hyperclick"
      "language-babel"
      "language-sage"
      "last-cursor-position"
      "linter-csslint"
      "linter-eslint"
      "magic-reflow"
      "symbol-gen"
      "symbols-tree-view"
      "zentabs"
      "highlight-selected"
      "hyperclick"
      "linter-json-lint"
      "linter-stylelint"
      "markdown-lists"
      "minimap"
      "minimap-pigments"
      "pigments"
      "prettier-atom"
      "pretty-json"
      "stylefmt"
      "tabs-to-spaces"
      "autocomplete-paths"
      "document-outline"
      "markdown-writer"
      "file-icons"
      "language-pfm"
      "language-r"
    ]
    excludeVcsIgnoredPaths: false
    packagesWithKeymapsDisabled: [
      "markdown-preview-enhanced"
    ]
    projectHome: "/home/zack/Projects"
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  "document-outline":
    defaultSide: "left"
  editor:
    fontSize: 11
    invisibles:
      cr: "↵"
      eol: "↵"
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabType: "hard"
  "exception-reporting":
    userId: "ed80534d-c78a-4ab2-aa72-5061f8714d59"
  "markdown-preview-enhanced":
    enableLinkify: false
    enableScriptExecution: true
    enableTypographer: true
    enableWikiLinkSyntax: false
    liveUpdate: false
    mathRenderingOption: "MathJax"
    openPreviewPaneAutomatically: false
    printBackground: true
  "markdown-writer":
    fileExtension: ".md"
    renameImageOnCopy: true
    siteEngine: "jekyll"
    siteLocalDir: "/home/zack/website"
    siteUrl: "https://dzackgarza.com"
  minimap:
    displayMinimapOnLeft: true
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  "spell-check":
    addKnownWords: true
    excludedScopes: [
      "string.other.math.tex"
      "markup.math"
      "link"
      "markup.raw.gfm"
      "string.other.math.block.tex"
      "constant.other.general.math.tex"
      "front-matter.yaml.gfm"
    ]
    knownWords: [
      "Fibration"
      "Hopf"
      "Serre"
      "Fibrations"
      "cohomology"
      "Postnikov"
      "notational"
      "homology"
      "Eilenberg-MacLane"
      "Eilenberg-MacLane"
      "Rham"
      "Cech"
      "homotopy"
      "Vietoris"
      "deRham"
      "isomorphisms"
      "homotopic"
      "Hurewicz"
      "isomorphism"
      "Freudenthal"
      "surjection"
      "homological"
      "Bott"
      "orientable"
      "Grassmannian"
      "Stiefel"
      "Eilenberg-MacLane"
      "Eilenberg"
      "MacLane"
      "TOC"
      "fibration"
      "homomorphism"
      "subcomplex"
      "homologies"
      "submodules"
      "Filtrations"
      "abelian"
      "bigraded"
      "coindexing"
      "functor"
      "Grothendieck"
      "Leray"
      "functors"
      "paracompact"
      "fibrations"
      "monodromy"
      "parameterized"
      "homeomorphism"
      "preimage"
      "foliation"
      "Möbius"
      "nonorientable"
      "orientability"
      "invariants"
      "iff"
      "parallelizable"
      "torsor"
      "trivializations"
      "Grassmannians"
      "bijective"
      "torsor"
      "torsor"
      "embeddings"
      "codimension"
      "uniformization"
      "geometrization"
      "contravariant"
      "contravariance"
      "Pontryagin"
      "Chern"
      "unoriented"
      "bordism"
      "cobordant"
      "homeomorphic"
      "Schoenflies"
      "Riemannian"
      "conformally"
      "holomorphically"
      "biholomorphic"
      "holomorphic"
      "Thurston"
      "Thurston's"
      "Grigori"
      "geometrizable"
      "torsors"
      "UCT"
      "th"
      "functoriality"
      "invariance"
      "adjunction"
      "equalities"
      "projectivization"
      "topologize"
      "Cobordism"
      "diffeomorphism"
      "cobordism"
      "Hirzebruch"
      "Roch"
      "Atiyah"
      "invertible"
      "Picard"
      "projective"
      "affine"
      "Serre's"
      "contractibility"
      "RHS"
      "surjectivity"
      "injectivity"
      "Tensoring"
      "Weyl"
      "Borel"
      "equivariant"
      "symplectic"
      "representable"
      "priori"
      "diffeomorphic"
      "posteriori"
      "injective"
      "Hatcher"
      "homomorphisms"
      "Bockstein"
      "DGA"
      "acyclic"
      "summand"
      "Subgoal"
      "cohomological"
      "commutativity"
      "bidegree"
      "cohomological"
      "tridegree"
      "monoid"
      "cofinitely"
      "differentially"
      "dimensionality"
      "boundedness"
      "codomain"
      "Gummi"
      "dotfile"
      "twizzled"
      "filtrations"
      "boundaryless"
      "quotiented"
      "quotienting"
      "computable"
      "notationally"
      "coset"
      "surjective"
      "reindex"
      "cosets"
      "Differentiable"
      "Griffiths"
      "tensoring"
      "cohomologies"
      "Kunneth"
      "skeleta"
      "noncommutative"
      "noetherian"
      "subalgebras"
      "Sklyanin"
      "coprime"
      "Archimedean"
      "adic"
      "blog"
      "UC"
      "Mathjax"
      "mde"
      "automata"
      "Diffeomorphisms"
      "Yoneda's"
      "Colimits"
      "naturality"
      "Coproducts"
      "Cokernels"
      "Antiderivatives"
      "antiderivative"
      "Warmup"
      "antiderivatives"
      "Munkres"
      "Rudin"
      "Precalculus"
      "Rolle's"
      "rightarrow"
      "bmatrix"
      "vdots"
      "vec"
      "RREF"
      "downarrow"
      "cdots"
      "diagonalizable"
      "Multilinear"
      "Totient"
      "Combinatorics"
      "Schwarz"
      "invertibility"
      "learnt"
      "Multivariable"
      "Eigenspaces"
      "morphisms"
      "combinatorics"
      "nighters"
      "Derangements"
      "CDF"
      "Sylow"
      "nullspace/rowspace/columnspace"
      "nullspace"
      "rowspace"
      "columnspace"
      "eigenspace"
      "Pre"
      "L'Hopital's"
      "Hadamard"
      "submatrix"
      "GRE"
      "ODEs"
      "Prealgebra"
      "Anki"
      "Garrity"
      "ETS"
      "SDSU"
      "L'Hopital's"
      "Leduc"
      "Supremums/infimums"
      "Supremums"
      "infimums"
      "Pointwise"
      "pointwise"
      "TFAE"
      "Adjoints"
      "Cramer's"
      "theset"
      "Cofactor"
      "Adjugate"
      "subcover"
      "multivariable"
      "Supremum"
      "Infimum"
      "infimum"
      "md"
      "Wronskian"
      "monic"
      "focii"
      "Exponentials"
      "todo"
      "Vieta's"
      "categorification"
      "qual"
      "Shutterfly"
    ]
  "tree-view":
    alwaysOpenExisting: true
    focusOnReveal: false
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  zentabs:
    neverCloseUnsaved: true
".gfm.source":
  editor:
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: false
