"*":
  core:
    disabledPackages: [
      "language-gfm"
    ]
  "exception-reporting":
    userId: "0fe985fb-ce20-4313-9517-698787603b68"
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
