* { font-family: monospace; font-size: 12px; min-height: 0; }
window#waybar { background: transparent; }
#memory { background: rgba(0, 0, 0, 0.6); color: #d3c6aa; padding: 1px 8px; border-radius: 6px; }
